.search {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    width: 100%;

    input {
        border-radius: 0.5rem;
        border: solid 1px lightgray;
        width: 20%;
        min-width: 250px;
        padding: 6px;
        margin-right: 0.5rem;

        &:focus-visible {
            outline: #504a3a auto 1px;
        }
    }

    button {
        border-radius: 0.5rem;
        border: none;
        background-color: #504a3a;
        color: #e9e3d7;
        font-weight: bold;
        padding: 0.75rem;
        cursor: pointer;

        &:hover {
            outline: solid 1px rgb(220, 211, 211);
        }
    }
}

.searchResults {
    display: flex;
    width: 100%;
    max-width: 500px;
}

@media screen and (max-width: 600px) {
    .search {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        width: 90%;

        input {
            width: 100%;
        }

        button {
            width: 50%;
        }
    }
}
